#header {
  background-color:black;
  color:white;
  text-align:right;
  padding:5px;
}
#sidebar {
  line-height:30px;
  height:600px;
  width:128px;
  float:left;
  padding:5px; 
  text-align:center;
}
#content {
  width:350px;
  float:left;
  padding:10px; 
}
#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px; 
}
#status {
  font-size:large;
  padding:10px;
  height:30px;
}

#post {
  padding:10px;
  height:30px;
}

a:link {
  text-decoration: none;
  color: #FF0000;
}

a:visited {
  text-decoration: none;
  color: #FF0000;
}

body {
  /* background: white url("images/background.gif") no-repeat right bottom; */
}

li a {
  color: green;
}

#input_post {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

div#content ul {
  margin:10px 0;
  padding:0px;
  list-style-type:none;
}

div#content li {
  margin-bottom:15px;
  margin-left:25px;
}

.registerTable {
  border-spacing: 15px;
  width: 100%;
}

.helptext {
  font-family: sans-serif;
  font-size: 8px;
}
