{% extends 'musician/base.html' %}
{% block content %}
<script language="javascript" type="text/javascript" src="/static/javascripts/getQR.js"></script>

<h1>Hello {{artist}}</h1>
<h2 class="center">Upload a Music</h2>
<div class="center">
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<p>Title:  <input type="text" name="title"></p>
<p>Genre: <input type"text" name="genre"></p>
<input type="file" name="music" accept="audio/*">
<input type="submit">
</form>
<div id="getQRParent">
{% for song in musics %}
  <p>{{ song.title }}</p>
  <!--<form action="">-->
  	 {% csrf_token %}
  <a href="/musician/statistics/{{artist}}/{{song.id}}" type="button">Rank Info</a>
  <!-- <input type="submit" href="/musician/statistics/{{artist}}/{{song.id}}" value="Rank Info"></input> -->
  <input type="submit" id="{{ song.id }}" value="GET QR Code" name="GET QR Code" class="QRparent"></input>
  <div id="divId{{ song.id }}">
  </div>
<!--</form>-->
{% endfor %}
</div>

{% endblock %}
