{% extends 'musician/base.html' %}
{% block content %}
<h1> Ranking History for {{music_name}}</h1>
<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);
function drawChart(){
	var data = new google.visualization.DataTable();
	data.addColumn('number','Day');
	data.addColumn('number', 'Rank');
	data.addRows([
                {% for k,v in rank.items %}
		[{{k}},{{v}}],
                {% endfor %}
	]);
	var options = {
		chart: {title:'Daily Rank for Downloads'},
		hAxis:{minValue:0, maxValue:8},
		vAxis:{minValue:1, maxValue:20,
		       direction:-1},
		width: 1400,
		height: 500,
	};
	var chart = new google.visualization.LineChart(document.getElementById('line_top_x'));
	chart.draw(data, options);
	
}
</script>
<div id="line_top_x"></div>
{% endblock %}
