{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block sidebar %}
<img src="{% static "micro/images/user.png" %}" alt="Generic User"/> <br>
{{ user.username }} <p>
{% endblock %}
{% block content %}
<div id="status">
{% if my_post %}
 {{ my_post.text }} ({{ my_post.pub_date|naturaltime }})
{% endif %}
</div>
<div id="post">
  <form action="/micro/post/" method="post">
    {% csrf_token %}
    {{ post_form.text }}
    <input type="submit" value="Post" />
  </form>
</div>
<p>
<div>
{% if post_list %}
  <table id="postlist">
    {% for post in post_list %}
      <tr>
        <td>
          <img src="{% static "micro/images/user_s.png" %}" alt="Generic User"/>
        </td>
        <td>
          {{ post.text }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a href="{% url 'micro:stream' post.user_id %}">
            {{ post.user.username }}
          </a>
          ({{ post.pub_date|naturaltime }})
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No posts are available.</p>
{% endif %}
</div>
{% endblock %}
